<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.almasapp.hw6.almasapp6" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar" >
        <activity
            android:name=".ActivityFrontPage"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityRecyclerView"
            android:label="@string/title_activity_activity_recycler_view" >
        </activity>
        <activity
            android:name=".ActivityViewPager"
            android:label="@string/title_activity_activity_view_pager" >
        </activity>
        <activity
            android:name=".ActivityMovieDetail"
            android:label="@string/title_activity_activity_movie_detail" >
        </activity>
    </application>

</manifest>
